.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-LOGO_basic_01 {
  width: 46px;
  height: 32px;
  background-position: 0 0;
}
.icon-LOGO_basic_02 {
  width: 46px;
  height: 32px;
  background-position: 0 -32px;
}

