@charset "utf-8";
/* CSS Document */


@import url(reset.css);

@import url(home_header.css);
@import url(home_footer.css);
@import url(sprite.css);
@import url(contact_content.css);

@import url(index_visual.css);



/*
@import url(googleicon.css);
*/


	/*background-color: rgba(12,76,138,1);  rgba(0,49,83,1); ---blue*/
	/*background-color: rgba(85,135,162,1);  ---skyblue*/

	/*margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;*/

*{
	font-family: sans-serif;
}

body{
	background-color: rgba(85,135,162,1);
	overflow-y: scroll; /*讓scrollbar一直存在，畫面才不會跳掉*/
}

.plant{
	position: fixed;
	width: 100%;
	z-index: 1;
}

.wrap{
	position: relative;
	margin: auto;
	left: 0;
	right: 0;
	top:0; 	/*為了做下拉動畫*/

	width: 80%;
	max-width: 1280px;

	background-color: rgba(255,255,255,1);
	transition:top 2s;
}

header, content, footer{
	position: relative;
	margin: auto;
	left: 0;
	right: 0;

	display: block;
	width: 100%;
	
	background-color: rgba(255,255,255,1);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header{
	height: 175px;
	width: 100%;
	background-color: #fff;
}

content{
	background-color: #fff;
	height: 508px;
}

footer{
	background: rgba(85,135,162,1);
	height: 100px; /*和header banner一樣高*/
}



/*____________________________________________________________________________*/

/*==========平板版本==========*/

@media screen and (max-width: 950px) {/*950px開始把地圖放到下面*/

	content{
		height: 950px;
	}
	
}

/*____________________________________________________________________________*/

/*==========手機版本==========*/

@media screen and (max-width: 768px) {
	
	.wrap{
			width: 100%;
			background-color: rgba(255,255,255,0);
			top: 0;
		}

		header{
			width: 100%;
			height: 130px;
			background-color: rgba(255,255,255,0);
		}

		content, footer{
			width: 80%;
			min-width: 300px;
		}

}


