@charset "utf-8";
/* CSS Document */

.contactform{
	margin: 0 70px;
}



/*聯絡資料*/
h1{
	font-size: 24px;
	font-weight: bold;
	color: #555;

	font-family: 'Cinzel Decorative', cursive;
	line-height: 24px;
}

p.address{
	font-family: sans-serif, 黑體, 微軟正黑體;
	color: #777;
	line-height: 32px;
	font-size: 14px;

	margin: 10px 40px 30px;

	position: relative;
}

span.bolder{
	font-weight: bold;
	font-size: 14px;

	color: #777;
}

i.material-icons.email{
	position: absolute;
	left: 0px;
	top: 100px;
}

i.material-icons.phone{
	position: absolute;
	left: 0px;
	top: 130px;
}



/*填寫表單*/
form{
	position: relative;
	z-index: 3;

	font-family: sans-serif, 黑體, 微軟正黑體;
	color: #888;
	line-height: 32px;

	margin: 10px 40px 30px;

}

input, textarea{
	line-height: 24px;
	margin: 5px 0;
	padding: 0 5px;
	font-size: 14px;

	width: 200px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea.messageTA{
	border: 1px solid #ccc;
	width: 200px;
	height: 100px;
}

input.btn{
	position: relative;
	right: 0;
	background-color: #faa;
	color: #777;

	width: 100px;
	border-radius: 5px;

}



/*地圖*/

.map{
	height: 400px;
	width: 55%;
	position: absolute;
	
	bottom: 0;

	margin: 75px 75px;

	z-index: 5;

	/*進場前置設定*/
	opacity: 0;
	right: -100px;
}

	/*進場動畫*/
	.inview{
		opacity: 1;
		right: 0;
		transition: 3s;
	}

iframe{
	width: 100%;
	height: 100%;	
}



/*____________________________________________________________________________*/

/*==========平板版本==========*/

/*隨螢幕寬更改地圖的寬*/

@media screen and (max-width: 1250px) {
	
	.map{
		width: 50%;
	}
	
}

@media screen and (max-width: 1150px) {
	
	.map{
		width: 45%;
	}
	
}


@media screen and (max-width: 1050px) {
	
	.map{
		width: 40%;
	}
	
}

/*____________________________________________________________________________*/

/*950px開始把地圖放到下面*/

@media screen and (max-width: 950px) {
	
	.contactform{
		margin: 0 5%;
		padding-top: 50px;

		text-align: center;
		}


	/*聯絡資料*/
	
	p.address{
		display: inline-block;/*為了置中對齊*/
		width: 230px;/*下固定寬讓google icon可以定位*/
		margin: 20px 0 40px;
	}

	i.material-icons.email{
	position: absolute;
	left: 20px;
	top: 99px;
	}

	i.material-icons.phone{
		position: absolute;
		left: 55px;
		top: 130px;
	}



	/*填寫表單*/
	form{
		margin: 10px 0 40px;
	}



	/*地圖*/

	.map{

		height: 300px;
		

		position: relative;
		margin: auto;
		left: 0;
		right: 0;

		width: 80%;
	}

}


/*____________________________________________________________________________*/

/*==========手機版本==========*/
@media screen and (max-width: 768px) {

		.contactform{
			padding-top: 80px; /*手機的header會變窄，所以top要加大*/
		}
	}



