@charset "utf-8";
/* CSS Document */

.contactform{
	margin: 0 70px;
}



/*聯絡資料*/
h1{
	font-size: 24px;
	font-weight: bold;
	color: #555;

	font-family: 'Cinzel Decorative', cursive;
	line-height: 24px;
}

p.address{
	font-family: sans-serif;
	color: #777;
	line-height: 32px;
	font-size: 14px;

	margin: 10px 40px 30px;

	position: relative;
}

span.bolder{
	font-weight: bold;
	font-size: 14px;

	color: #777;
}

i.material-icons.email{
	position: absolute;
	left: 0px;
	top: 100px;
}

i.material-icons.phone{
	position: absolute;
	left: 0px;
	top: 130px;
}



/*填寫表單*/
form{
	position: relative;
	z-index: 3;

	font-family: sans-serif;
	color: #888;
	line-height: 32px;

	margin: 10px 40px 30px;
}

input{
	line-height: 24px;
	margin: 5px 0;
	font-size: 14px;
}

input.btn{
	background-color: #faa;
	color: #555;
}



/*地圖*/

.map{
	height: 400px;
	width: 55%;
	position: absolute;
	right: 0;
	bottom: 0;

	margin: 60px 75px;

	z-index: 5;
}

iframe{
	width: 100%;
	height: 100%;	
}



/*____________________________________________________________________________*/

/*==========平板版本==========*/

/*隨螢幕寬更改地圖的寬*/

@media screen and (max-width: 1250px) {
	
	.map{
		width: 50%;
	}
	
}

@media screen and (max-width: 1150px) {
	
	.map{
		width: 45%;
	}
	
}


@media screen and (max-width: 1050px) {
	
	.map{
		width: 40%;
	}
	
}

/*____________________________________________________________________________*/

/*950px開始把地圖放到下面*/

@media screen and (max-width: 950px) {
	
	.contactform{
		margin: 0 5%;
		padding-top: 50px;

		text-align: center;
		}


	/*聯絡資料*/
	
	p.address{
		display: inline-block;/*為了置中對齊*/
		width: 285px;/*下固定寬讓google icon可以定位*/
		margin: 20px 0 40px;
	}

	i.material-icons.email{
	position: absolute;
	left: 50px;
	top: 100px;
	}

	i.material-icons.phone{
		position: absolute;
		left: 85px;
		top: 130px;
	}



	/*填寫表單*/
	form{
		margin: 10px 0 40px;
	}



	/*地圖*/

	.map{

		height: 300px;
		

		position: relative;
		margin: auto;
		left: 0;
		right: 0;

		width: 80%;
	}

}


/*____________________________________________________________________________*/

/*==========手機版本==========*/
@media screen and (max-width: 768px) {

		.contactform{
			padding-top: 80px; /*手機的header會變窄，所以top要加大*/
		}
	}



