@charset "utf-8";
/* CSS Document */

	/*background-color: rgba(12,76,138,1);   ---blue*/
	/*background-color: rgba(85,135,162,1);  ---skyblue*/
	/*margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;*/

*{
	font-family: sans-serif;
}

body{
	background-color: rgba(85,135,162,1);
}

#wrap{
	position: relative;
	margin: auto;
	left: 0;
	right: 0;

	width: 80%;
	max-width: 1280px;

	background-color: #fff;
}

header, content, footer{
	position: relative;
	margin: auto;
	left: 0;
	right: 0;

	display: block;
	width: 100%;
	
	background-color: #fff;
}

header{
	height: 175px;
	width: 100%;
}

content{
	/*background-color: #eee;*/
	height: 1000px;
}

footer{
	/*background: #ddd;*/
	height: 100px;
}


/*---電腦版不需要選單lebel---*/
#sandwich, .sand{
	display: none;
}

/*---中央logo區域---*/

a.indexa {
	display: inline-block;

	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 50%;

	width: 300px;
	height: 60px;
	z-index: 25;
}

/*logo底圖*/
.logo{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	z-index: 20;

	width: 300px;
	height: 125px;  
	background-color: rgba(12,76,138,1);

	border-style: solid;
	border-width:0 10px 5px; 
	border-color:rgba(85,135,162,1);

	transition: .1s;
}

/*logo下面的三角*/
.logo:after, .logo:before{
	content: ' ';
	position: absolute;
	left: 0;
	top: 125px;

	border-style: solid;
	border-color: rgba(12,76,138,1) transparent ;
	border-width: 40px 150px 0;

	transition: .5s;
}
/*三角的邊框*/
.logo:before{
	top: 130px;
	left: -10px;
	border-color: rgba(85,135,162,1) transparent ;
	border-width: 43px 160px 0;
}

/*logo字樣圖（白色）*/
.logo img{
	display: inline-block;
	position: absolute;
	width: 300px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	transition: .1s;
}

/*---logo轉變後動畫---*/
.logo2 {
	background-color: rgba(12,76,138,0);
	border-color:rgba(85,135,162,0);

	position: fixed;
	top: -43px;

	transition: .2s;

}

/*logo下面的三角*/
.logo2:after {
	transform: scale(0.5);
	border-color: rgba(12,76,138,1) transparent;
	border-width: 40px 150px 0;
	transform-origin: bottom;
	transition: 1s;
}
/*三角的邊框*/
.logo2:before {
	transform: scale(0.8,0.1) translateY(-100px);
	border-color: #555 transparent;
	transition: 1s;
}

/*logo字樣圖（白色）*/
.logo2 img {
	opacity: 0;
	transition: 1s;
}

/*=======================================*/

/*---logo置頂後的樣式---*/
.logo_top{
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	z-index: 19;

	width: 80%;
	max-width: 1280px;
	height: 100px;  
	background-color: rgba(255,255,255,.8);
}

.logo_top img{
	display: inline-block;
	position: absolute;
	width: 300px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 19;
}

/*---置頂左右的banner，先對位置---*/
.bannerleft, .bannerright{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	

	width: 50%;
	height: 100px;
	z-index: 18;
}
.bannerleft{
	left: 0;
	padding-right: 150px;/*為了避開中間的logo*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bannerright{
	right: 0;
	padding-left: 150px;/*為了避開中間的logo*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*左右各三個icon排列*/

.banner{ /*控制下層三個icon的對齊*/
	position: relative;

	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	text-align: center;
}

.icon{ 
	position: relative;
	display: inline-block;
	width: 100px;
	height: 90px;
	
	margin: auto 2%;
}

.icon a{ /*icon感應區域*/
		display: inline-block;
		width: 100%;
		height: 100%;
		z-index: 21;

		padding-top: 20px;

		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
		}

.icon p{
	font-size: 14px;
	color: #666;

	display: inline-block;

	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 2px;
}


/*---滑鼠移過動畫---*/

/*旗幟底色*/
.icon:before, .icon_here:before{
	content: "";
	display: inline-block;
	position: absolute;
	left: -5px;
	width: 110px;
	height: 0;

	background-color: rgba(246,210,87,.5);
	
	z-index: -1;
	transition: 1s;
}

.icon:hover:before, .icon_here:hover:before{
	height: 120px;
}

/*旗幟下面的三角形（白色）*/
.icon:after, .icon_here:after{
	content: "";
	display: inline-block;
	position: absolute;

	left:-5px;
	bottom: -20px;

	border-style: solid;
	border-width: 0px 55px 20px;
	border-color: rgba(230,230,230,.1) transparent;

	transform: scale(0.5);
	transform-origin: top;
	transition: 1s;
}
	

.icon:hover:after, .icon_here:hover:after{
	transform: scale(1) translateY(10px);
	border-color: rgba(255,255,255,1) transparent;
}

/*當頁的底標tag換色*/
.icon_here:after{ 
	border-color: rgba(209,68,118,1) transparent;
}



/*____________________________________________________________________________*/

/*---調整平板版和手機版的banner---*/


/*==========平板版本==========*/

@media screen and (max-width: 1280px) {

		/*左右各三個icon排列*/

		.icon{ 
			width: 27%;
			margin: auto 1%;
		}

		.icon p{
			font-size: 10px;
			transition: 1s;
			color: transparent;
		}

		.icon:hover p{
			/*transform: scale(1.2);*/
			color: #666;
		}

		.logo2:before {
			transform: scale(0.8,0.1) translateY(-100px);
		}


		/*---滑鼠移過動畫---*/

		.icon:before, .icon_here:before{
			left: 0px;
			width: 100%;
		}

		.icon:hover:before, .icon_here:hover:before{
			height: 100px;
		}

		.icon:after, .icon_here:after{
			left:0px;
			bottom: 0px;
			width: 100%;
			height: 8px;

			background-color: rgba(230,230,230,.1);
			border-width: 0px;

			transform: scale(0.5);
		}
			
		.icon:hover:after, .icon_here:hover:after{
			transform: scale(1) translateY(10px);
			background-color: rgba(204,204,204,.5);
		}

		.icon_here:after{ /*當頁的底標tag換色*/
			background-color: rgba(209,68,118,1) ;
		}

}


/*____________________________________________________________________________*/

/*==========手機版本==========*/

@media screen and (max-width: 768px) {
		
		#wrap{
			width: 100%;
			background-color: rgba(255,255,255,0);
		}

		header{
			width: 100%;
			height: 130px;
			background-color: rgba(255,255,255,0);
		}

		content, footer{
			width: 80%;
			min-width: 300px;
		}

		/*---logo轉變後動畫---*/

		/*logo字樣圖（白色）*/
		.logo2 img {
			opacity: 0;
			z-index: 20;
		}

		/*logo下面的三角*/
		.logo2:after {
			transform: scale(0.5) translateY(-150px);
			border-color: rgba(12,76,138,.8) transparent;
			transform-origin: top;
		}

		/*三角的邊框*/
		.logo2:before {
			transform: scale(1.2,0.1) translateY(-100px);
		}


		/*---logo置頂後的樣式---*/
		.logo_top{
			width: 100%;
			background-color: rgba(85,135,162,1);/*先上skyblue底色*/
		}

		/*修正手機下拉會看到藏在下面的黑色logo*/
		.logo_top img{
			opacity: 0;
		}
		.logo2 ~ .logo_top img{
			opacity: 1;
		}


		/*logo置頂後的半透明banner*/
		.logo2 ~ .logo_top{/*logo2出現才上白色*/
			background-color: rgba(255,255,255,.8);
		}



		/*---置頂左右的banner，先對位置---*/

		.bannerleft, .bannerright{
			position: fixed;

			width: 50%;
			height: 100%;
			background-color: rgba(255,255,255,.8);

			z-index: 22;
			font-size: 0;

			top: -2000px; /*先藏起來，藏遠一點*/

			transition: 1s;
		}
		.bannerleft{
			padding-right: 0px;/*關掉縫隙*/
		}
		.bannerright{
			padding-left: 0px;/*關掉縫隙*/
		}

		/*左右各三個icon排列*/

		.bannerleft .banner{ /*控制下層三個icon的對齊*/
			position: absolute;
			margin: 10%;
			margin-right: 0;
		}

		.bannerright .banner{ /*控制下層三個icon的對齊*/
			position: absolute;
			margin: 10%;
			margin-left: 0;
		}


		/*下拉選單icon的長相*/
		.icon{ 
			width: 50%;
			min-width: 100px;
			height: 20%;
			max-height: 120px;
			margin: 5% 2%;
			top: 150px;
			
			background-color: transparent;
			border-bottom: 1px solid #666;
		}

		.icon a{ /*icon感應區域*/
		z-index: 26;
		padding-top: 25%;
		}

		.icon p{
			font-size: 14px;
			color: #666;
			bottom: 5px;
		}


/*---設定選單lebel---*/

/*把check的方框藏起來*/
	#sandwich{
		position: absolute;
		left: -9999px;
		cursor: pointer; /*滑鼠變手手*/
	}

/*選單紐*/
	.sand{/*這是lebel的感應區域*/
			display: block;
			
			position: fixed;
			margin: auto;
			left: 0;
			right: 0;
			top: 0;

			width: 80px;
			height: 30px;
		
			z-index: 25; /*要放最上層*/

			cursor: pointer; /*滑鼠變手手*/
		}
		.sand:after{
			content: " ";
			width: 0;
			height: 0;
			display: inline-block;

			border-style: solid;
			border-width: 20px 40px 0;
			border-color: #faa transparent ;

			position: absolute;
			right: 0;
			left: 0;
			top: 5px;
			bottom: 0;

			transition: 1s;
		}

		.sand:before{
			content: " ";
			width: 0;
			height: 0;
			display: inline-block;

			border-style: solid;
			border-width: 22px 44px 0;
			border-color: #888 transparent ;

			position: absolute;
			right: 0;
			left: -4px;
			top: 5px;
			bottom: 0;

			transition: 1s;
		}


/*叫出三明治選單*/
		#sandwich:checked ~ .sand:after {
			top: 125px;
			transform: rotate(180deg);
		}

		#sandwich:checked ~ .sand:before {
			top: 125px;
			transform: rotate(-180deg);
			
		}

		#sandwich:checked ~ div.logo_top .bannerleft{
		top: 0;
		}

		#sandwich:checked ~ div.logo_top .bannerright{
		top: 0;
		}

		#sandwich:checked ~ div.logo_top{
			background-color: #000;
			transition: 2s;
		}

		#sandwich:checked ~ div.logo img{
			opacity: 1;
		}

		#sandwich:checked ~ .logo2:after {/*logo下面的三角*/
			transform: scale(0.25,0.5) translateY(40px);
			border-color: rgba(12,76,138,.3) transparent;
		}


/*---滑鼠移過動畫---*/
		.icon:hover p{
			font-size: 14px;
			transform: scale(1);
			color: #faa;
		}

		.icon:before{
			height: 0;
			background-color: rgba(246,210,87,.5);
		}

		.icon:hover:before{
			height: 100%;
		}

		.icon:after{
			transform: scale(1,0.5);
			transform-origin: bottom;
		}

		.icon:hover:after{
			transform: scale(1);
		}


} /*手機版本結束*/



