@charset "utf-8";
/* CSS Document */

	/*background-color: rgba(12,76,138,1);  rgba(0,49,83,1); ---blue*/
	/*background-color: rgba(85,135,162,1);  ---skyblue*/


footer{
	padding: 14px 12px;
}

footer p{
	font-family: sans-serif, 黑體, 微軟正黑體; 
	font-size: 12px;
	color: #eee;
	line-height: 18px;

	text-align: right;

    letter-spacing: 2px;
}

span.light{
	font-weight: bold;
	color: rgba(246,210,87,1);
}



/*____________________________________________________________________________*/

/*==========平板版本==========*/

@media screen and (max-width: 1250px) {


}



/*____________________________________________________________________________*/

/*==========手機版本==========*/

@media screen and (max-width: 768px) {
		
	footer{
			padding: 12px 10px;
		}

	footer p{
		font-size: 12px;
		line-height: 16px;

		text-align: right;

	    letter-spacing: 2px;
		}

} /*手機版本結束*/







