@charset "utf-8";
/* CSS Document */

/*slider*/
.slider-item{
	position: relative;
	z-index: 10;
	top: -175px;  /*看slider要多高*/
}

.slick-slide{

}

.slick-slide img
{
    display: block;
    width: 100%;
    height: 100%;
}


/*內容框架*/
.homeframe{
	margin: 0px 70px;
	position: relative;

	top:-125px; /*隨slider一起上去*/
}


/*---標題---*/

h1, h2{ 
	position: relative;
	font-size: 24px;
	font-weight: bold;
	color: #555;

	font-family: 'Cinzel Decorative', cursive;
	line-height: 24px;	
}

h1{
	z-index: 5;
}

h2{ position: relative;
	display: inline-block;
	z-index: 1;
	/*font-family: 'IM Fell English SC', serif;*/
	font-family: 'Fredericka the Great', cursive;
	transform:rotate(-2deg);
	transform-origin: left;

	margin: 50px 0 25px;
}

h2:before, h2:after{
	content: '';
	position: absolute;
	height: 3px;
	width: 20px;
	background-color: #777;

	top: 50%;
}

h2:before{
	left: -30px;
	border-radius: 0 100% 100% 0;
}

h2:after{
	right: -30px;
	border-radius: 100% 0 0 100%;
}



/*---研究主題區塊---*/
.researchframe{
	display: block;
	text-align: center;
}



/*---研究項目個別區塊---*/
.onesection{
	position: relative;
	display: inline-block;
	margin: 20px 2% 55px;

	border: 1px solid #ccc;
	vertical-align: top;
	width: 28%;
	height: 400px;
	font-size: 0;/*去除inline的縫隙*/
	

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background: rgba(255,255,255,.9);
	z-index: 5;

	/*進場前置設定*/
	opacity: 0;
	top: 50px;
}

	/*進場動畫*/
	.inview{
		opacity: 1;
		top: 0px;
		transition: 2s;
	}



/*研究標題區塊*/
.onesection p.name{
	position: relative;
	font-size: 24px;
	line-height: 32px;
	color: #899;
	padding: 10px 0px;
}

	/*英文標題*/
	.onesection p.name span{
		display: inline-block;
		font-size: 16px;
		line-height: 16px;
		vertical-align: top;
		font-family: 'IM Fell English SC', serif;
		/*font-family: 'Amita', cursive;*/
	}



/*圖片*/
.imgframe{
	width: 100%;
	overflow: hidden;
}

.onesection img{
	display: inline-block;
	width: 96%;

	margin: 25px 2%;
}

.onesection img.gif{
	position: relative;
	display: inline-block;
	width: 140%;
	left: -20%;

	margin: 25px auto;
}



/*介紹區塊*/
.onesection .vita{
	position: relative;
	display: inline-block;
	margin: 2%;
	top: 0;

	width: 46%;
	/*height: 100%;*/
	/*background-color: #faa;*/

	vertical-align: top;
}


/*介紹內容*/
.vitacontent{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 70%;
	padding: 10px 0px;

}

.vitacontent p{
	font-size: 14px;
	line-height: 21px;

	padding: 0px 0px 0 20px;
	border-left: 2px solid #899;
	color: #899;

	/*font-weight: bold;*/
}


/*看更多，連結到research頁面*/
.vitamore{
	padding: 10px 0 0 ;
	
	font-size: 14px;
	color: #666;
	line-height: 24px;

}


.onesection a{
	position: absolute;
	display: inline-block;
	z-index: 15;

	bottom: -25px;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;

	font-size: 50px;
	line-height: 50px;
	text-decoration: none;
	width: 50px;
	height: 50px;

	color: #ccc;
	background-color: #fff;
	/*border: 1px solid #ccc;*/
	border-radius: 50%;

	transition: 1s;
}

.onesection a:hover{
	color: #faa;
	background-color: #fff;
}

.onesection a:before{
	content:'Read More';
	font-size: 18px;
	width: 200%;
	left: -50%;
	bottom: -75%;
	color:#faa;

	position: absolute;
	display: inline-block;
	text-align: center;

	opacity: 0;
	transition: 1s;
}

.onesection a:hover:before{
	bottom: -100%;
	opacity: 1;
}





/*____________________________________________________________________________*/

/*---調整平板版和手機版---*/

/*==========平板版本==========*/

@media screen and (max-width: 1250px) {

		/*slider*/
		.slider-item{
			top: -75px;  /*看slider要多高*/
		}

		/*內容框架*/
		.homeframe{
			top:-75px; /*隨slider一起上去*/
		}

		/*---研究項目個別區塊---*/
		.onesection{
			width: 90%;
			height: auto;
		}



}





/*____________________________________________________________________________*/

/*==========手機版本==========*/
@media screen and (max-width: 768px) {

		.homeframe{
			padding-top: 80px; /*手機的header會變窄，所以top要加大*/
			margin: 0 20px;
		}

		/*圖片半邊*/
		.onesection img{
			display: inline-block;
			width: 92%;
			margin: 4%;
		}


	/*slider*/
	.slider-item{
		top: 0px;  /*看slider要多高，手機版降回來*/
	}

	/*---研究項目個別區塊---*/
	.onesection{
		width: 90%;
	}




}