@charset "utf-8";
/* CSS Document */

.back{
		background: url(../images/school_overall.jpg) no-repeat 50% 0;
		background-size: cover;
		width: 100%;
		height: 100%;
		position: fixed;
		perspective-origin: 50% 250px;
		perspective: 500px; 
	}

.logoup{
		position: absolute; 
		margin:auto;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;

		width: 500px;
		height:auto;
		/*border: 3px solid #fff;*/
		background: url(../images/LOGOani/LOGOani_name.svg) no-repeat 50% 50%;
		min-height: 400px;

		text-align: center;
	}


/*****含水層和阻水層的共同設定*****/
.ft{ 
	position: absolute;

	margin:auto;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;

	}

	/*G2地層*/
	.g2{
		transform-style: preserve-3d;
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;

		transition: 5s;
		}

		/*.g2:hover {
			transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateZ(250px);
		}*/
			
		/*g2內部*/
			.g2front{
					width: 500px;
					height:auto;
					min-height: 400px;
					background: url(../images/LOGOani/LOGOani_g2.svg) no-repeat 50% 50%;
				}

			.g2top{
				width: 500px;
				height: 250px;
				background-color: rgba(136,177,75,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-180px);
			}

			.g2bottom{
				width: 500px;
				height: 250px;
				background-color: rgba(136,177,75,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-200px);
			}

			.g2back{
				width: 500px;
				height: 20px;
				background-color: rgba(136,177,75,1);
				transform: rotateX(180deg) translateY(-190px) translateZ(250px);
			}

			.g2left{
				width: 250px;
				height: 20px;
				background-color: rgba(217,224,33,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-190px) translateZ(250px);
			}

			.g2right{
				width: 250px;
				height: 20px;
				background-color: rgba(217,224,33,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-190px) translateZ(-250px);
			}


	/*F2含水層*/
	.f2{
		transform-style: preserve-3d;
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;

		transition: 5s;
		}

		/*.f2:hover {
			transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg) translateZ(250px);
		}*/
			
		/*F2內部*/
			.f2front{
					width: 500px;
					height:auto;
					min-height: 400px;
					background: url(../images/LOGOani/LOGOani_f2.svg) no-repeat 50% 50%;
				}

			.f2top{
				width: 500px;
				height: 250px;
				background-color: rgba(12,76,138,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-140px);
			}

			.f2bottom{
				width: 500px;
				height: 250px;
				background-color: rgba(12,76,138,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-180px);
			}

			.f2back{
				width: 500px;
				height: 40px;
				background-color: rgba(12,76,138,1);
				transform: rotateX(180deg) translateY(-160px) translateZ(250px);
			}

			.f2left{
				width: 250px;
				height: 40px;
				background-color: rgba(85,135,162,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-160px) translateZ(250px);
			}

			.f2right{
				width: 250px;
				height: 40px;
				background-color: rgba(85,135,162,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-160px) translateZ(-250px);
			}


	/*T2阻水層*/
	.t2{
		transform-style: preserve-3d;
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;

		transition: 5s;
		}

		/*.t2:hover{
			transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateZ(250px);
			
		}*/
			
		/*T2內部*/
			.t2front{
					width: 500px;
					height:auto;
					min-height: 400px;
					background: url(../images/LOGOani/LOGOani_t2.svg) no-repeat 50% 50%;
				}

			.t2top{
				width: 500px;
				height: 250px;
				background-color: rgba(102,102,102,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-100px);
			}

			.t2bottom{
				width: 500px;
				height: 250px;
				background-color: rgba(102,102,102,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-140px);
			}

			.t2back{
				width: 500px;
				height: 40px;
				background-color: rgba(102,102,102,1);
				transform: rotateX(180deg) translateY(-120px) translateZ(250px);
			}

			.t2left{
				width: 250px;
				height: 40px;
				background-color: rgba(204,204,204,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-120px) translateZ(250px);
			}

			.t2right{
				width: 250px;
				height: 40px;
				background-color: rgba(204,204,204,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-120px) translateZ(-250px);
			}


	/*F1含水層*/
	.f1{
		transform-style: preserve-3d;
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;

		transition: 5s;
		}

		/*.f1:hover{
			transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateZ(250px);
			
		}*/
			
		/*f1內部*/
			.f1front{
					width: 500px;
					height:auto;
					min-height: 400px;
					background: url(../images/LOGOani/LOGOani_f1.svg) no-repeat 50% 50%;
				}

			.f1top{
				width: 500px;
				height: 250px;
				background-color: rgba(85,135,162,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-60px);
			}

			.f1bottom{
				width: 500px;
				height: 250px;
				background-color: rgba(85,135,162,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-100px);
			}

			.f1back{
				width: 500px;
				height: 40px;
				background-color: rgba(85,135,162,1);
				transform: rotateX(180deg) translateY(-80px) translateZ(250px);
			}

			.f1left{
				width: 250px;
				height: 40px;
				background-color: rgba(150,214,224,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-80px) translateZ(250px);
			}

			.f1right{
				width: 250px;
				height: 40px;
				background-color: rgba(150,214,224,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-80px) translateZ(-250px);
			}


	/*T1阻水層*/
	.t1{
		transform-style: preserve-3d;
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;

		transition: 5s;
		}

		/*.t1:hover{
			transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateZ(250px);
			
		}*/
			
		/*t1內部*/
			.t1front{
					width: 500px;
					height:auto;
					min-height: 400px;
					background: url(../images/LOGOani/LOGOani_t1.svg) no-repeat 50% 50%;
				}

			.t1top{
				width: 500px;
				height: 250px;
				background-color: rgba(153,153,153,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-20px);
			}

			.t1bottom{
				width: 500px;
				height: 250px;
				background-color: rgba(153,153,153,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-60px);
			}

			.t1back{
				width: 500px;
				height: 40px;
				background-color: rgba(153,153,153,1);
				transform: rotateX(180deg) translateY(-40px) translateZ(250px);
			}

			.t1left{
				width: 250px;
				height: 40px;
				background-color: rgba(204,204,204,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-40px) translateZ(250px);
			}

			.t1right{
				width: 250px;
				height: 40px;
				background-color: rgba(204,204,204,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-40px) translateZ(-250px);
			}


	/*G1地層*/
	.g1{
		transform-style: preserve-3d;
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;

		transition: 5s;
		}

		/*.g1:hover {
			transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateZ(250px);
		}*/
			
		/*g1內部*/
			.g1front{
					width: 500px;
					height:auto;
					min-height: 400px;
					background: url(../images/LOGOani/LOGOani_g1.svg) no-repeat 50% 50%;
				}

			.g1top{
				width: 500px;
				height: 250px;
				background-color: rgba(136,177,75,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(0px);
			}

			.g1bottom{
				width: 500px;
				height: 250px;
				background-color: rgba(136,177,75,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-20px);
			}

			.g1back{
				width: 500px;
				height: 20px;
				background-color: rgba(136,177,75,1);
				transform: rotateX(180deg) translateY(-10px) translateZ(250px);
			}

			.g1left{
				width: 250px;
				height: 20px;
				background-color: rgba(217,224,33,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-10px) translateZ(250px);
			}

			.g1right{
				width: 250px;
				height: 20px;
				background-color: rgba(217,224,33,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-10px) translateZ(-250px);
			}




/*****其他圖片*****/
.cloud, .mountain, .flow{
	position: absolute;

	margin:auto;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;

	width: 500px;
	height:auto;
	}
	
	.cloud1{
		background: url(../images/LOGOani/LOGOani_cloud1.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: translateZ(-250px);
	}
	.cloud2{
		background: url(../images/LOGOani/LOGOani_cloud2.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: translateZ(-250px);
	}
	.cloud3{
		background: url(../images/LOGOani/LOGOani_cloud3.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: translateZ(-250px);
	}

	.flow{
		background: url(../images/LOGOani/LOGOani_flow1.svg) no-repeat 50% 50%,
					url(../images/LOGOani/LOGOani_flow2.svg) no-repeat 50% 50%;
		transform: rotateX(90deg) scaleY(2);
		opacity: .75;
		min-height: 400px;

		animation: flow 5s 1 ease backwards; 
	}

	@keyframes flow{
		0%{transform: rotateX(0deg) scaleY(1);}
		100%{transform: rotateX(90deg) scaleY(1) translateY(-20px);}

	}

	.mm{
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-image:  url(../images/LOGOani/LOGOani_m2.svg);
		min-height: 400px;
	}


/*---設定形象頁---*/

/*把check的方框藏起來*/
	#headani{
		position: absolute;
		left: -9999px;
		cursor: pointer; /*滑鼠變手手*/
	}

	.anibg{
		background: url(../images/school_overall.jpg) no-repeat 50% 0;
		background-size: cover;
		width: 100%;
		height: 100%;
		top:-1500px;
		position: fixed;

		perspective-origin: 50% 250px;
		perspective: 1000px; 

		z-index: 30;

		transition: 3s;
	}

	#headani:checked ~ .anibg{
		top:0;
		transition: 2s;
	}

	/*控制整個頁面有下拉的感覺*/
	#headani:checked ~ .wrap { 
     	top:100%;
     	
     	/*position: fixed;*/
     	transition: 2s ;
     	/*設定fixed可以讓頁面下拉之後其他東西消失，滾輪進而消失*/
	}
	#headani ~ .wrap { 
     	top:0;
     	
     	position: absolute;
     	transition:2s;
     	/*設定讓頁面滑回去*/
	}


/*回首頁感應區，置中*/
	.headanigo{ 
			display: inline-block;
			position: absolute;
			
			margin:auto;
			right: 0;
			left: 0;

			top:85%;
			width: 150px;
			line-height: 50px;

			font-size: 28px;
			background: rgba(255,255,255,.6);
			/*border-radius: 20px;*/
			color: #888;

			transform: rotateX(60deg);
		}






	



	