@charset "utf-8";
/* CSS Document */


/*---設定形象頁---*/

/*把check的方框藏起來*/
	#headani{
		position: absolute;
		left: -9999px;
		cursor: pointer; /*滑鼠變手手*/
	}


/*滿版俯瞰圖*/
	.anibg{
		background: url(../images/school_overall.jpg) no-repeat 50% 0;
		background-size: cover;
		width: 100%;
		height: 100%;
		top:-1500px;
		position: fixed;

		perspective-origin: 50% 250px;
		perspective: 1000px; 

		z-index: -1;

		transition: 3s cubic-bezier(.3,.15,.25,1);
	}

/*	@media screen and (max-width: 1450px) {
		.anibg{	top:-1200px; }
	}*/

	/*@media screen and (max-width: 768px) {
		.anibg{	top:-1000px; }
	}*/


/*形象頁和首頁的切換設定*/
	#headani:checked ~ .anibg{
		top:0;
		z-index: 30;
		transition: 2s;
	}

	/*控制整個頁面有下拉的感覺*/
	#headani:checked ~ .wrap { 
     	top:100%;
     	
     	position: fixed;
     	transition: 2s ;
     	/*設定fixed可以讓頁面下拉之後其他東西消失，滾輪進而消失*/
	}

	#headani ~ .wrap { 
     	top:0;
     	
     	position: absolute;
     	transition:3s;
     	/*設定讓頁面滑回去*/
	}

	/*控制icon欄位一起下拉*/
	#headani:checked ~ .wrap header .logo_top { 
     	top:100%;
     	
     	transition: 2s ;
	}

	#headani ~ .wrap header .logo_top { 
 	top:0;
 	
 	transition: 3s ;
	}

	


/*進首頁感應區ENTER，置中*/
	.headanigo{ 
			display: inline-block;
			position: absolute;
			
			margin:auto;
			right: 0;
			left: 0;

			bottom: 8%;
			width: 150px;
			line-height: 50px;

			font-size: 28px;
			background: rgba(255,255,255,.6);
			/*border-radius: 20px;*/
			color: #888;

			transform: rotateX(60deg);
			z-index: 1;
		}

	.headanigo:before{
		content: 'ENTER';
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		
		background-color: rgba(246,210,87,0);
		color: transparent;

		transition: .5s;
	}

	.headanigo:hover:before{
		content: 'ENTER';
		
		background-color: rgba(246,210,87,.5);
		color: #888;
	}

	.headanigo:after{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		top: 60px;

		border-style: solid;
		border-color: rgba(255,255,255,.8) transparent ;
		border-width: 25px 30px 0; 

		width: 0;
		height: 0;
		
		transition: 1s;
		transform: scale(0);
	}
	
	.headanigo:hover:after{
		content: '';
		border-color: rgba(209,68,118,1) transparent ;
		transform: scale(1);
		transition: 1s;
		animation: enter .6s .5s infinite alternate forwards;
	}

	@keyframes enter{
		0%{transform:translateY(0px);}
		100%{transform:translateY(10px);}
	}



/*=============================================================================================*/
/*中間logo animation*/

.logoup{
		position: absolute; 
		margin:auto;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;

		width: 500px;
		height:auto;
		/*border: 3px solid #fff;*/
		background: url(../images/LOGOani/LOGOani_name.svg) no-repeat 50% 50%;
		min-height: 400px;

		text-align: center;
		/*transform-style: preserve-3d;*/
	}


/*****含水層和阻水層的共同設定*****/
.ft{ 
	position: absolute;

	margin:auto;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;

	}

	/*G2地層*/
	.g2{
		transform-style: preserve-3d;
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;
		}

		#headani:checked ~ .anibg .g2 {
			animation: g2 .8s 2s linear 1 backwards ;
		}

		@keyframes g2{
			  0%{transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateZ(250px);}
			100%{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;}
		}
			
		/*g2內部*/
			.g2front{
					width: 500px;
					height:auto;
					min-height: 400px;
					background: url(../images/LOGOani/LOGOani_g2.svg) no-repeat 50% 50%;
				}

			.g2top{
				width: 500px;
				height: 250px;
				background-color: rgba(136,177,75,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-180px);
			}

			.g2bottom{
				width: 500px;
				height: 250px;
				background-color: rgba(136,177,75,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-200px);
			}

			.g2back{
				width: 500px;
				height: 20px;
				background-color: rgba(136,177,75,1);
				transform: rotateX(180deg) translateY(-190px) translateZ(250px);
			}

			.g2left{
				width: 250px;
				height: 20px;
				background-color: rgba(217,224,33,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-190px) translateZ(250px);
			}

			.g2right{
				width: 250px;
				height: 20px;
				background-color: rgba(217,224,33,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-190px) translateZ(-250px);
			}


	/*F2含水層*/
	.f2{
		transform-style: preserve-3d;
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;
		}

		#headani:checked ~ .anibg .f2 {
			animation: f2 1s 3.25s ease 1 backwards ;
		}

		@keyframes f2{
			  0%{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-500px);}
			 50%{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(100px);}
			100%{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;}
		}
			
		/*F2內部*/
			.f2front{
					width: 500px;
					height:auto;
					min-height: 400px;
					background: url(../images/LOGOani/LOGOani_f2.svg) no-repeat 50% 50%;
				}

			.f2top{
				width: 500px;
				height: 250px;
				background-color: rgba(12,76,138,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-140px);
			}

			.f2bottom{
				width: 500px;
				height: 250px;
				background-color: rgba(12,76,138,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-180px);
			}

			.f2back{
				width: 500px;
				height: 40px;
				background-color: rgba(12,76,138,1);
				transform: rotateX(180deg) translateY(-160px) translateZ(250px);
			}

			.f2left{
				width: 250px;
				height: 40px;
				background-color: rgba(85,135,162,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-160px) translateZ(250px);
			}

			.f2right{
				width: 250px;
				height: 40px;
				background-color: rgba(85,135,162,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-160px) translateZ(-250px);
			}


	/*T2阻水層*/
	.t2{
		transform-style: preserve-3d;
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;
		}
		
		#headani:checked ~ .anibg .t2 {
			animation: t2 1s 3s linear 1 backwards ;
		}

		@keyframes t2{
			  0%{transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg)  translateZ(250px) translateX(750px);}
			100%{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;}
		}
			
		/*T2內部*/
			.t2front{
					width: 500px;
					height:auto;
					min-height: 400px;
					background: url(../images/LOGOani/LOGOani_t2.svg) no-repeat 50% 50%;
				}

			.t2top{
				width: 500px;
				height: 250px;
				background-color: rgba(102,102,102,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-100px);
			}

			.t2bottom{
				width: 500px;
				height: 250px;
				background-color: rgba(102,102,102,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-140px);
			}

			.t2back{
				width: 500px;
				height: 40px;
				background-color: rgba(102,102,102,1);
				transform: rotateX(180deg) translateY(-120px) translateZ(250px);
			}

			.t2left{
				width: 250px;
				height: 40px;
				background-color: rgba(204,204,204,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-120px) translateZ(250px);
			}

			.t2right{
				width: 250px;
				height: 40px;
				background-color: rgba(204,204,204,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-120px) translateZ(-250px);
			}


	/*F1含水層*/
	.f1{
		transform-style: preserve-3d;
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;
		}
		
		#headani:checked ~ .anibg .f1 {
			animation: f1 1s 2.75s ease 1 backwards ;
		}

		@keyframes f1{
			  0%{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)  translateZ(-500px);}
			100%{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;}
		}
			
		/*f1內部*/
			.f1front{
					width: 500px;
					height:auto;
					min-height: 400px;
					background: url(../images/LOGOani/LOGOani_f1.svg) no-repeat 50% 50%;
				}

			.f1top{
				width: 500px;
				height: 250px;
				background-color: rgba(85,135,162,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-60px);
			}

			.f1bottom{
				width: 500px;
				height: 250px;
				background-color: rgba(85,135,162,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-100px);
			}

			.f1back{
				width: 500px;
				height: 40px;
				background-color: rgba(85,135,162,1);
				transform: rotateX(180deg) translateY(-80px) translateZ(250px);
			}

			.f1left{
				width: 250px;
				height: 40px;
				background-color: rgba(150,214,224,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-80px) translateZ(250px);
			}

			.f1right{
				width: 250px;
				height: 40px;
				background-color: rgba(150,214,224,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-80px) translateZ(-250px);
			}


	/*T1阻水層*/
	.t1{
		transform-style: preserve-3d;
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;
		}

		#headani:checked ~ .anibg .t1 {
			animation: t1 1s 2.5s linear 1 backwards ;
		}

		@keyframes t1{
			  0%{transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg)  translateZ(250px) translateX(-750px);}
			100%{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;}
		}
			
		/*t1內部*/
			.t1front{
					width: 500px;
					height:auto;
					min-height: 400px;
					background: url(../images/LOGOani/LOGOani_t1.svg) no-repeat 50% 50%;
				}

			.t1top{
				width: 500px;
				height: 250px;
				background-color: rgba(153,153,153,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-20px);
			}

			.t1bottom{
				width: 500px;
				height: 250px;
				background-color: rgba(153,153,153,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-60px);
			}

			.t1back{
				width: 500px;
				height: 40px;
				background-color: rgba(153,153,153,1);
				transform: rotateX(180deg) translateY(-40px) translateZ(250px);
			}

			.t1left{
				width: 250px;
				height: 40px;
				background-color: rgba(204,204,204,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-40px) translateZ(250px);
			}

			.t1right{
				width: 250px;
				height: 40px;
				background-color: rgba(204,204,204,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-40px) translateZ(-250px);
			}


	/*G1地層*/
	.g1{
		transform-style: preserve-3d;
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;
		}

		#headani:checked ~ .anibg .g1 {
			animation: g1 .8s 2.25s linear 1 backwards ;
		}

		@keyframes g1{
			  0%{transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg) translateZ(250px);}
			100%{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;}
		}
			
		/*g1內部*/
			.g1front{
					width: 500px;
					height:auto;
					min-height: 400px;
					background: url(../images/LOGOani/LOGOani_g1.svg) no-repeat 50% 50%;
				}

			.g1top{
				width: 500px;
				height: 250px;
				background-color: rgba(136,177,75,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(0px);
			}

			.g1bottom{
				width: 500px;
				height: 250px;
				background-color: rgba(136,177,75,.8);
				transform: rotateX(90deg)  translateY(-125px) translateZ(-20px);
			}

			.g1back{
				width: 500px;
				height: 20px;
				background-color: rgba(136,177,75,1);
				transform: rotateX(180deg) translateY(-10px) translateZ(250px);
			}

			.g1left{
				width: 250px;
				height: 20px;
				background-color: rgba(217,224,33,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-10px) translateZ(250px);
			}

			.g1right{
				width: 250px;
				height: 20px;
				background-color: rgba(217,224,33,.8);
				transform: rotateX(180deg) rotateY(90deg) translateX(-125px) translateY(-10px) translateZ(-250px);
			}




/*****其他圖層共同設定*****/
.cloud, .flow, .mountain, .river, .sun{
	position: absolute;

	margin:auto;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;

	width: 500px;
	height:auto;

	transform-style: preserve-3d; /*讓下層支援3D*/
	}

/*雲朵*/
	.cloud1{
		background: url(../images/LOGOani/LOGOani_cloud1.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: translateZ(0px);
	}
		#headani:checked ~ .anibg .cloud1{
		animation: cloud1 2s 4s 1 backwards ;
		}

		@keyframes cloud1{
			  0%{transform: translateZ(-250px);}
			100%{transform: translateZ(0px);}
		}

	.cloud2{
		background: url(../images/LOGOani/LOGOani_cloud2.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: translateZ(-100px);
	}
		#headani:checked ~ .anibg .cloud2{
		animation: cloud2 2s 4s 1 backwards ;
		}

		@keyframes cloud2{
			  0%{transform: translateZ(-250px);}
			100%{transform: translateZ(-100px);}
		}

	.cloud3{
		background: url(../images/LOGOani/LOGOani_cloud3.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: translateZ(-200px);
	}
		#headani:checked ~ .anibg .cloud3{
		animation: cloud3 2s 4s 1 backwards ;
		}
		@keyframes cloud3{
			  0%{transform: translateZ(-250px);}
			100%{transform: translateZ(-200px);}
		}


/*雨水水流*/
	.flow1{
		background: url(../images/LOGOani/LOGOani_flow1.svg) no-repeat 50% 50%,
					url(../images/LOGOani/LOGOani_flow2.svg) no-repeat 50% 50%;
		transform: rotateX(90deg) scaleY(5) translateY(-200px);
		opacity: .75;
		min-height: 400px;
		}

		#headani:checked ~ .anibg .flow1{
		animation: flow1 4s 5.5s ease backwards; 
		}

		@keyframes flow1{
		  0%{opacity: 0;
			 transform: rotateX(0deg) scaleY(3) translateY(-200px);}
		 25%{opacity: .75;}
		 50%{transform: rotateX(0deg)scaleY(1) translateY(-200px);}
		 75%{transform: rotateX(90deg) scaleY(1) translateY(-200px);}
		100%{transform: rotateX(90deg) scaleY(5) translateY(-200px);}
		}


/*山丘*/
	.mm1{
		background:  url(../images/LOGOani/LOGOani_m2.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: scaleY(1);}
		
		#headani:checked ~ .anibg .mm1{
			animation: mm 1s 9s 1 backwards ;
		}

	.mm2{
		background:  url(../images/LOGOani/LOGOani_m3.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: scaleY(1);}

		#headani:checked ~ .anibg .mm2{
			animation: mm 1s 9.25s 1 backwards ;
		}


	.mm3{
		background:  url(../images/LOGOani/LOGOani_m4.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: scaleY(1);}

		#headani:checked ~ .anibg .mm3{
			animation: mm 1s 9.5s 1 backwards ;
		}


	.mm4{	
		background:  url(../images/LOGOani/LOGOani_m5.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: scaleY(1);}

		#headani:checked ~ .anibg .mm4{
			animation: mm 1s 9.75s 1 backwards ;
		}

		
	.mm5{
		background:  url(../images/LOGOani/LOGOani_m6.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: scaleY(1);}

		#headani:checked ~ .anibg .mm5{
			animation: mm 1s 10s 1 backwards ;
		}

	
	.mm6{
		background:  url(../images/LOGOani/LOGOani_m7.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: scaleY(1);}

		#headani:checked ~ .anibg .mm6{
			animation: mm 1s 10s 1 backwards ;
		}

	
	.mm7{	
		background:  url(../images/LOGOani/LOGOani_m8.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: scaleY(1);}

		#headani:checked ~ .anibg .mm7{
			animation: mm 2s 11s 1 backwards ;
		}

		@keyframes mm{
			  0%{transform: scaleY(0);}
			100%{transform: scaleY(1);}
		}


/*太陽*/
	.sun{
		background:  url(../images/LOGOani/LOGOani_sun.svg) no-repeat 50% 50%;
		min-height: 400px;
		transform: translateY(0px);}

		#headani:checked ~ .anibg .sun{
			animation: sun 2s 11s 1 backwards ;
		}

		@keyframes sun{
			  0%{opacity: 0;
			  	 transform: translateY(80px);}
			100%{opacity: 1;
				 transform: translateY(0px);}
		}


/*Ｓ溪流*/
		.river1{
			background:  url(../images/LOGOani/LOGOani_river1.svg) no-repeat 50% 50%;
			min-height: 400px;}

			#headani:checked ~ .anibg .river1{
				animation: river 1s 13.1s 1 backwards ;
			}


		.river2{
			background:  url(../images/LOGOani/LOGOani_river2.svg) no-repeat 50% 50%;
			min-height: 400px;}

			#headani:checked ~ .anibg .river2{
				animation: river 1s 13.2s 1 backwards ;
			}


		.river3{
			background:  url(../images/LOGOani/LOGOani_river3.svg) no-repeat 50% 50%;
			min-height: 400px;}

			#headani:checked ~ .anibg .river3{
				animation: river 1s 13.3s 1 backwards ;
			}


		.river4{
			background:  url(../images/LOGOani/LOGOani_river4.svg) no-repeat 50% 50%;
			min-height: 400px;}

			#headani:checked ~ .anibg .river4{
				animation: river 1s 13.4s 1 backwards ;
			}


		.river5{
			background:  url(../images/LOGOani/LOGOani_river5.svg) no-repeat 50% 50%;
			min-height: 400px;}

			#headani:checked ~ .anibg .river5{
				animation: river 1s 13.5s 1 backwards ;
			}


		@keyframes river{
			  0%{opacity: 0;}
			100%{opacity: 1;}
		}



/*中線展開*/
	.miao {
		  float: left;
		  position: absolute; 
		  margin:auto;
		  top:0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		}

		#headani:checked ~ .anibg .logoup .miao {
		  animation: line 2s 1s 1 forwards;}

		@keyframes line{
			  0%{
			        width: 5px;
			        height: 5px;
			        background-color: #ccc;
			        border-radius: 50%;
			    }
			100%{ 
				      width: 80%;
				      height: 5px;
				      border-radius: 50%;
				      background-color: #fff;
				}
		}




/*=============================================================================================*/
/*==========手機版本動畫==========*/

@media screen and (max-width: 550px){


/*中間logo animation*/

	.logoup{
			width: 90%;
		}


	/*****含水層和阻水層的共同設定*****/

	/*G2地層*/

		/*g2內部*/
			.g2front{
					width: 90%;
				}

			.g2top, .g2bottom, .g2back, .g2left, .g2right{
				display: none;
			}


	/*F2含水層*/

		/*F2內部*/
			.f2front{
					width: 90%;
				}

			.f2top, .f2bottom, .f2back, .f2left, .f2right{
				display: none;
				}


	/*T2阻水層*/
	
		/*T2內部*/
			.t2front{
					width: 90%;
				}

			.t2top, .t2bottom, .t2back, .t2left, .t2right{
				display: none;
				}


	/*F1含水層*/
			
		/*f1內部*/
			.f1front{
					width: 90%;
				}
			.f1top, .f1bottom, .f1back, .f1left, .f1right{
				display: none;
				}

	/*T1阻水層*/
		
		/*t1內部*/
			.t1front{
					width: 90%;
				}

			.t1top, .t1bottom, .t1back, .t1left, .t1right{
				display: none;
				}



	/*G1地層*/
	
		/*g1內部*/
			.g1front{
					width: 90%;
				}

			.g1top, .g1bottom, .g1back, .g1left, .g1right{
				display: none;
				}



	/*****其他圖層共同設定*****/

		.cloud, .flow, .mountain, .river, .sun{
			width: 100%;
			}

		/*雲朵*/
			.cloud1, .cloud2, .cloud3{
				width: 90%;
			}
			
		/*雨水水流*/
			.flow1{
				display: none;
				}


		/*山丘*/
			.mm1, .mm2, .mm3, .mm4, .mm5, .mm6, .mm7{
				width: 90%;
				}


				#headani:checked ~ .anibg .mm1{
					animation: mm 1s 5s 1 backwards ;
				}

				#headani:checked ~ .anibg .mm2{
					animation: mm 1s 5.25s 1 backwards ;
				}

				#headani:checked ~ .anibg .mm3{
					animation: mm 1s 5.5s 1 backwards ;
				}

				#headani:checked ~ .anibg .mm4{
					animation: mm 1s 5.75s 1 backwards ;
				}

				#headani:checked ~ .anibg .mm5{
					animation: mm 1s 6s 1 backwards ;
				}

				#headani:checked ~ .anibg .mm6{
					animation: mm 1s 6s 1 backwards ;
				}

				#headani:checked ~ .anibg .mm7{
					animation: mm 2s 7s 1 backwards ;
				}


		/*太陽*/
			.sun{
				width: 90%;
				}

				#headani:checked ~ .anibg .sun{
					animation: sun 2s 7s 1 backwards ;
				}


		/*Ｓ溪流*/
			.river1, .river2, .river3, .river4, .river5{
				width: 90%;
				}

				#headani:checked ~ .anibg .river1{
					animation: river 1s 9.1s 1 backwards ;
				}

				#headani:checked ~ .anibg .river2{
					animation: river 1s 9.2s 1 backwards ;
				}

				#headani:checked ~ .anibg .river3{
					animation: river 1s 9.3s 1 backwards ;
				}


				#headani:checked ~ .anibg .river4{
					animation: river 1s 9.4s 1 backwards ;
				}

				#headani:checked ~ .anibg .river5{
					animation: river 1s 9.5s 1 backwards ;
				}


		/*中線展開*/
			.miao {
				width: 90%;
				}

				@keyframes line{
				  0%{
				        width: 5px;
				        height: 5px;
				        background-color: #ccc;
				        border-radius: 50%;
				    }
				100%{ 
					      width: 90%;
					      height: 5px;
					      border-radius: 50%;
					      background-color: #fff;
					}
				}


}
/*手機版本結束*/









	