
.icon_dark {
  background: url(../images/sprite.svg) no-repeat 50% 0 ; 
  background-size: cover; 
  display: inline-block;
}

.icon_light {
  background: url(../images/sprite_white.svg) no-repeat 50% 0 ; 
  background-size: cover; 
  display: inline-block;
}


.icon-studies {
  width: 40px;
  height: 40px;
  background-position: 0 0;
}
.icon-library {
  width: 40px;
  height: 40px;
  background-position: 0 -40px;
}
.icon-papers {
  width: 40px;
  height: 40px;
  background-position: 0 -80px;
}
.icon-phone-hang-up {
  width: 40px;
  height: 40px;
  background-position: 0 -120px;
}
.icon-location {
  width: 40px;
  height: 40px;
  background-position: 0 -160px;
}
.icon-users {
  width: 40px;
  height: 40px;
  background-position: 0 -200px;
}
.icon-earth {
  width: 40px;
  height: 40px;
  background-position: 0 -240px;
}
.icon-mail {
  width: 40px;
  height: 40px;
  background-position: 0 -280px;
}
.icon-google2 {
  width: 40px;
  height: 40px;
  background-position: 0 -320px;
}
.icon-facebook2 {
  width: 40px;
  height: 40px;
  background-position: 0 -360px;
}

